altgraph==0.17.3
casttube==0.2.1
certifi==2022.12.7
charset-normalizer==3.1.0
distlib==0.3.6
filelock==3.9.0
idna==3.4
ifaddr==0.2.0
pause==0.3
pefile==2023.2.7
platformdirs==3.1.0
protobuf==4.22.1
PyChromecast==13.0.5
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2023.1
pypi==2.1
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
requests==2.28.2
schedule==1.1.0
six==1.16.0
tz==0.2.2
urllib3==1.26.14
virtualenv==20.20.0
zeroconf==0.47.4



